<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
  <!-- ngFor is the Angular implementation of a standard for loop -->
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', productId]"
    >
      <!-- [] is called property binding. In HTML title would be set just as title="text goes here" -->
      {{ product.name }}
      <!-- {{ }} is called interpolation syntax, which renders a property's value as text -->
    </a>
  </h3>

  <p *ngIf="product.description">
    <!-- ngIf is the Angular implementation of a standard if statement -->
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    <!-- () is used for event binding. share() is from the product-list.component.ts -->
    Share
  </button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
